.sidebar {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 100px 290px 290px 50px 50px;
  grid-template-areas: "head" "main-menu" "settings" "help-center" "logout";
  border-right: 1px solid #ccc;
}

.head {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.head .branding {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
.head .branding .brand_logo,
.head .branding .brand_logo img {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.head .branding .brand_name {
  font-size: 18px;
  font-weight: 600;
}
.head .collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 22.5px;
}

.main-menu {
  grid-area: main-menu;
  padding: 25px;
}
.main-menu .section-header,
.settings .section-header {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}
.main-menu .menu-items,
.settings .menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main-menu .menu-items a,
.settings .menu-items a,
.help-center .menu-items a,
.logout .menu-items a {
  color: #484b53;
  text-decoration: none;
}

.main-menu .menu-items a,
.settings .menu-items a {
  display: grid;
  place-items: center;
}

.main-menu .menu-items #dashboard {
  display: grid;
  grid-template-columns: 45px 120px;
  grid-template-areas: "dash-icon dash-text";
  padding: 8px 2px;
  margin: 5px 0px;
  border-radius: 10px;
  font-weight: 600;
}
.main-menu .menu-items #dashboard .item-icon {
  grid-area: dash-icon;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu .menu-items #dashboard .item-name {
  grid-area: dash-text;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-menu .menu-items #blogs {
  display: grid;
  grid-template-columns: 45px 120px;
  grid-template-areas: "blog-icon blog-text";
  padding: 8px 2px;
  margin: 5px 0px;
  border-radius: 10px;
  font-weight: 600;
}
.main-menu .menu-items #blogs .item-icon {
  grid-area: blog-icon;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu .menu-items #blogs .item-name {
  grid-area: blog-text;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-menu .menu-items #crops {
  display: grid;
  grid-template-columns: 45px 120px;
  grid-template-areas: "crop-icon crop-text";
  padding: 8px 2px;
  margin: 5px 0px;
  border-radius: 10px;
  font-weight: 600;
}
.main-menu .menu-items #crops .item-icon {
  grid-area: crop-icon;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu .menu-items #crops .item-name {
  grid-area: crop-text;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.settings .menu-items #profile {
  display: grid;
  grid-template-columns: 45px 120px;
  grid-template-areas: "prof-icon prof-text";
  padding: 8px 2px;
  margin: 5px 0px;
  border-radius: 10px;
  font-weight: 600;
}
.settings .menu-items #profile .item-icon {
  grid-area: prof-icon;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings .menu-items #profile .item-name {
  grid-area: prof-text;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.settings .menu-items #settings {
  display: grid;
  grid-template-columns: 45px 120px;
  grid-template-areas: "set-icon set-text";
  padding: 8px 2px;
  margin: 5px 0px;
  border-radius: 10px;
  font-weight: 600;
}
.settings .menu-items #settings .item-icon {
  grid-area: set-icon;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings .menu-items #settings .item-name {
  grid-area: set-text;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-menu .menu-items .item:hover,
.settings .menu-items .item:hover,
.help-center .menu-items .item:hover,
.logout .menu-items .item:hover {
  background-color: blue;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.main-menu .menu-items .item .item-icon,
.settings .menu-items .item .item-icon,
.main-menu .menu-items .item .item-name,
.settings .menu-items .item .item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.settings {
  grid-area: settings;
  padding: 25px;
}

.help-center {
  grid-area: help-center;
  display: grid;
  place-items: center;
}

.logout {
  grid-area: logout;
  display: grid;
  place-items: center;
}

.help-center .menu-items .item,
.logout .menu-items .item {
  display: grid;
  grid-template-columns: 65px 205px;
  grid-template-areas: "help-icon help-text";
  padding: 10px 5px;
  border-radius: 10px;
  font-weight: 600;
}

.help-center .menu-items .item .item-icon,
.logout .menu-items .item .item-icon {
  grid-area: help-icon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-center .menu-items .item .item-name,
.logout .menu-items .item .item-name {
  grid-area: help-text;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
