.blogs {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.blogs .blogs-container {
  width: 1215px;
  height: 100%;
  overflow-y: scroll;
}

.blogs .blogs-container::-webkit-scrollbar {
  width: 15px;
}

.blogs .blogs-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(225, 225, 225);
}

.blogs .blogs-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(182, 182, 182);
}

.blogs .blogs-container .header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

.blogs .blogs-container .header .heading {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.blogs .blogs-container .header .heading a button {
  background-color: #ffffff;
  color: #252525;
  border: none;
  padding: 7px 15px;
  font-weight: 500;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.blogs .blogs-container .header .heading .active > button {
  background-color: #252525;
  color: #ffffff;
}

.blogs .blogs-container .header .heading button:hover {
  background-color: #252525;
  color: #ffffff;
  transition: all 0.5s ease;
}

.blogs .blogs-container .header .search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs .blogs-container .header .search .search-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-radius: 10px;
  width: 100%;
}

.blogs .blogs-container .header .search .search-bar .col1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs .blogs-container .header .search .search-bar .col2 {
  display: none;
  justify-content: center;
  align-items: center;
}

.blogs .blogs-container .header .search .search-bar .col1 .search-icons,
.blogs .blogs-container .header .search .search-bar .col2 .search-icons {
  font-size: 20px;
  cursor: pointer;
}

.blogs .blogs-container .header .search .search-bar input {
  outline: 0;
  border: 0;
  padding: 10px;
  margin: 0px 10px;
}

.blogs .blogs-container .header .create-blog {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blogs .blogs-container .header .create-blog a .create-blog-btn {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #252525;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.blogs .blogs-container hr {
  border: 0.5px solid rgb(225, 225, 225);
  margin-bottom: 20px;
}

.blogs .blogs-container .listed-blogs {
  margin: 10px 30px;
  height: 100%;
}

.blogs .blogs-container .listed-blogs .all-blogs,
.blogs .blogs-container .listed-blogs .your-blogs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.blogs .blogs-container .listed-blogs .all-blogs .blog,
.blogs .blogs-container .listed-blogs .your-blogs .blog {
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.blogs .blogs-container .listed-blogs .all-blogs .blog:hover,
.blogs .blogs-container .listed-blogs .your-blogs .blog:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.blogs .blogs-container .listed-blogs .all-blogs .blog .author,
.blogs .blogs-container .listed-blogs .your-blogs .blog .author {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.blogs
  .blogs-container
  .listed-blogs
  .all-blogs
  .blog
  .author
  .author-profile-image,
.blogs
  .blogs-container
  .listed-blogs
  .your-blogs
  .blog
  .author
  .author-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs
  .blogs-container
  .listed-blogs
  .all-blogs
  .blog
  .author
  .author-profile-image
  img,
.blogs
  .blogs-container
  .listed-blogs
  .your-blogs
  .blog
  .author
  .author-profile-image
  img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.blogs .blogs-container .listed-blogs .all-blogs .blog .author .author-details,
.blogs
  .blogs-container
  .listed-blogs
  .your-blogs
  .blog
  .author
  .author-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.blogs
  .blogs-container
  .listed-blogs
  .all-blogs
  .blog
  .author
  .author-details
  .author-name,
.blogs
  .blogs-container
  .listed-blogs
  .your-blogs
  .blog
  .author
  .author-details
  .author-name {
  font-size: 16px;
  font-weight: 500;
}

.blogs
  .blogs-container
  .listed-blogs
  .all-blogs
  .blog
  .author
  .author-details
  .published-date,
.blogs
  .blogs-container
  .listed-blogs
  .your-blogs
  .blog
  .author
  .author-details
  .published-date {
  font-size: 12px;
  font-weight: 400;
}

.blogs .blogs-container .listed-blogs .all-blogs .blog .content,
.blogs .blogs-container .listed-blogs .your-blogs .blog .content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogs .blogs-container .listed-blogs .all-blogs .blog .content .blog-content,
.blogs .blogs-container .listed-blogs .your-blogs .blog .content .blog-content {
  width: 70%;
  padding: 10px 0px;
}

.blogs
  .blogs-container
  .listed-blogs
  .all-blogs
  .blog
  .content
  .blog-content
  .blog-title,
.blogs
  .blogs-container
  .listed-blogs
  .your-blogs
  .blog
  .content
  .blog-content
  .blog-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blogs
  .blogs-container
  .listed-blogs
  .all-blogs
  .blog
  .content
  .blog-content
  .blog-description,
.blogs
  .blogs-container
  .listed-blogs
  .your-blogs
  .blog
  .content
  .blog-content
  .blog-description {
  text-align: justify;
  font-size: 15px;
  margin-bottom: 20px;
}

.blogs
  .blogs-container
  .listed-blogs
  .all-blogs
  .blog
  .content
  .blog-content
  .blog-description
  p
  a,
.blogs
  .blogs-container
  .listed-blogs
  .your-blogs
  .blog
  .content
  .blog-content
  .blog-description
  p
  a {
  text-decoration: none;
  color: #008f02;
}

.blogs
  .blogs-container
  .listed-blogs
  .all-blogs
  .blog
  .content
  .blog-content
  .blog-tags,
.blogs
  .blogs-container
  .listed-blogs
  .your-blogs
  .blog
  .content
  .blog-content
  .blog-tags {
  display: flex;
  align-items: center;
}

.blogs
  .blogs-container
  .listed-blogs
  .all-blogs
  .blog
  .content
  .blog-content
  .blog-tags
  .tag,
.blogs
  .blogs-container
  .listed-blogs
  .your-blogs
  .blog
  .content
  .blog-content
  .blog-tags
  .tag {
  background-color: rgb(225, 225, 225);
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 400;
}

.blogs
  .blogs-container
  .listed-blogs
  .all-blogs
  .blog
  .content
  .blog-cover-image,
.blogs
  .blogs-container
  .listed-blogs
  .your-blogs
  .blog
  .content
  .blog-cover-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs
  .blogs-container
  .listed-blogs
  .all-blogs
  .blog
  .content
  .blog-cover-image
  img,
.blogs
  .blogs-container
  .listed-blogs
  .your-blogs
  .blog
  .content
  .blog-cover-image
  img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.blogs .blogs-container .listed-blogs .create-blog {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.blogs .blogs-container .listed-blogs .create-blog .heading {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid rgb(182, 182, 182);
}

.blogs .blogs-container .listed-blogs .create-blog form {
  width: 500px;
  box-sizing: border-box;
}

.blogs .blogs-container .listed-blogs .create-blog form .cover-image {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px dashed rgb(182, 182, 182);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.blogs .blogs-container .listed-blogs .create-blog form .cover-image .col1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 325px;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .cover-image
  .col1
  .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f8;
  color: #626f87;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .cover-image
  .col1
  .icon
  img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .cover-image
  .col1
  .instruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .cover-image
  .col1
  .instruction
  .filename,
.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .cover-image
  .col1
  .instruction
  .instruction-text,
.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .cover-image
  .col1
  .instruction
  .image-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #626f87;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .cover-image
  .col1
  .instruction
  .filename {
  font-size: 15px;
  font-weight: 500;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .cover-image
  .col1
  .instruction
  .instruction-text {
  font-size: 12px;
  font-weight: 500;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .cover-image
  .col1
  .instruction
  .image-info {
  font-size: 10px;
  font-weight: 400;
}

.blogs .blogs-container .listed-blogs .create-blog form .cover-image .col2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 135px;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .cover-image
  .col2
  .image-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .cover-image
  .col2
  .image-input
  label {
  background-color: #ffffff;
  color: #5c657a;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 10px;
  cursor: pointer;
}

.blogs .blogs-container .listed-blogs .create-blog form .title {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.blogs .blogs-container .listed-blogs .create-blog form .title label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.blogs .blogs-container .listed-blogs .create-blog form .title label::after {
  content: " *";
  color: #008f02;
}

.blogs .blogs-container .listed-blogs .create-blog form .title input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  margin-bottom: 20px;
}

.blogs .blogs-container .listed-blogs .create-blog form .title input:focus {
  outline-color: #008f02;
}

.blogs .blogs-container .listed-blogs .create-blog form .content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.blogs .blogs-container .listed-blogs .create-blog form .content label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.blogs .blogs-container .listed-blogs .create-blog form .content label::after {
  content: " *";
  color: #008f02;
}

.blogs .blogs-container .listed-blogs .create-blog form .content textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  margin-bottom: 20px;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .content
  textarea:focus {
  outline-color: #008f02;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .content
  textarea::-webkit-scrollbar {
  width: 10px;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .content
  textarea::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(225, 225, 225);
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .content
  textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(182, 182, 182);
}

.blogs .blogs-container .listed-blogs .create-blog form .tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.blogs .blogs-container .listed-blogs .create-blog form .tags label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.blogs .blogs-container .listed-blogs .create-blog form .tags label::after {
  content: " *";
  color: #008f02;
}

.blogs .blogs-container .listed-blogs .create-blog form .tags .add-tag {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.blogs .blogs-container .listed-blogs .create-blog form .tags .add-tag input {
  width: 80%;
  padding: 10px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  margin-bottom: 10px;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .tags
  .add-tag
  input:focus {
  outline-color: #008f02;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .tags
  .add-tag
  #add-tag {
  width: 15%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 5px;
  background-color: #f0f8e7;
  color: #008f02;
  cursor: pointer;
  font-weight: 500;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .tags
  .add-tag
  #add-tag:hover {
  background-color: #008f02;
  color: #ffffff;
  transition: all 0.5s ease;
}

.blogs .blogs-container .listed-blogs .create-blog form .tags .added-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.blogs .blogs-container .listed-blogs .create-blog form .tags .added-tags .tag {
  box-sizing: border-box;
  background-color: #f3f4f8;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .tags
  .added-tags
  .tag
  .tag-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .tags
  .added-tags
  .tag
  .tag-remove {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.blogs .blogs-container .listed-blogs .create-blog form .action-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.blogs .blogs-container .listed-blogs .create-blog form .action-btns #reset {
  background-color: #ffffff;
  color: #5c657a;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.blogs .blogs-container .listed-blogs .create-blog form .action-btns #publish {
  background-color: #f0f8e7;
  color: #008f02;
  border: 0;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 15px;
  cursor: pointer;
}

.blogs
  .blogs-container
  .listed-blogs
  .create-blog
  form
  .action-btns
  #publish:hover {
  background-color: #008f02;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}
